          <div class="row pn-person">
            <div class="col-md-12 pn-row-eq-height">
              <div class="col-md-3 pn-photo">
                <div class="img-wrapper">
                  <img src="img/@|img|" title="@|name|" alt="@|name|" />
                </div>
              </div>
              <div class="col-md-9">
                <div class="col-md-4 pn-contact">
                  <span class="pn-name">@|name|</span><br />
                  @|title|<br />
                  <a href="mailto:@|e-mail|">@|e-mail|</a><br />
                  <a href="@|website|">@|website|</a>
                </div>
                <div class="col-md-5 pn-muted col-md-offset-3">
		    @|history|
                </div>
                <div class="col-md-12 pn-bio">
                  <p>@|bio|</p>
                </div>
              </div>
            </div>
          </div>
